<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sorting numbers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
<h3>Current request:</h3>
<p th:text="'Original array: ' + ${origin}" ></p>
<p th:text="'Sorted array: ' + ${result}" ></p>

<h3>Complete request list:</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Original array</th>
        <th>Sorted array</th>
        <th>Swap count</th>
        <th>Execution time (nano seconds)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="res : ${results}">
        <td th:text="${res.getOriginArray()}"></td>
        <td th:text="${res.getResultArray()}"></td>
        <td th:text="${res.getSwapCount()}"></td>
        <td th:text="${res.getExecTime()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>